.main-ctrl(ng-controller="MainController")
  aside
    .top
      .label-select
        select(ng-model="main.labelFilter" ng-change="main.filterByLabel()")
          option(value="") 전체보기({{ main.memos.length }})
          option(ng-repeat="label in main.labels" value="{{ label.name }}")
            | {{ label.name }}({{ label.Memos.length }})
    .mid
      p.no-memo(ng-if="!main.filteredMemos.length")
        | 표시할 메모가 없습니다.
      a.memo-preview(
        ng-repeat="memo in main.filteredMemos"
        ng-class="{ active: memo.id === main.activeMemo.id, checked: memo.checked }"
        id="memo{{ memo.id }}"
        ui-sref="main.memo({ id: memo.id })"
        ng-click="main.checkMemo($event, memo)")
        .memo-preview-title {{ memo.title ? memo.title : '제목을 입력하세요.' }}
        .memo-preview-body {{ memo.body ? memo.body : '본문을 입력하세요.' | plainText }}
        .memo-preview-time {{ memo.updatedAt | dateTime }}
    .bot
      button.pull-left.icon-button(
        ng-show="main.multiMode"
        ng-click="main.openAddLabelDialog()")
        i.fa.fa-hashtag
      button.pull-left.icon-button(
        ng-show="main.multiMode"
        ng-click="main.removeCheckedMemos()")
        i.fa.fa-trash-o
      button.pull-left.personal-button(
        ng-click="main.openRenameLabelDialog()"
        ng-show="!main.multiMode") 라벨관리
      button.pull-right.default-button(
        ng-click="main.multiMode = true"
        ng-show="!main.multiMode") 선택
      button.pull-right.warning-button(
        ng-click="main.uncheckAll()"
        ng-show="main.multiMode") 취소
  .body
    .top
      button.pull-left.icon-button(ng-click="main.addMemo()")
        i.fa.fa-plus-square-o
      button.pull-left.icon-button(
        ng-hide="main.$state.is('main.index')"
        ng-click="main.removeMemo()")
        i.fa.fa-trash-o
      button.pull-right.personal-button(
        ng-hide="main.$state.is('main.index')"
        ng-click="main.saveMemo()"
      ) 저장하기
    .mid(ui-view="")
